# Docker
Dockerfile
docker-*.yaml

# Git
.git
.gitignore

# CI/CD files
.changeset/*.md
.github
.husky
.turbo

# Misc
*ignore

# Dependencies & deployments
node_modules
deployments

# Build files & cache
artifacts
dist
cache

# Metadata
*.md