[submodule "toolbox-foundry/forge-std"]
	path = packages/toolbox-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "toolbox-foundry/ds-test"]
	path = packages/toolbox-foundry/lib/ds-test
	url = https://github.com/dapphub/ds-test
