[submodule "toolbox-foundry/forge-std"]
	path = packages/toolbox-foundry/src/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "toolbox-foundry/ds-test"]
	path = packages/toolbox-foundry/src/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "tests-user/bats-core"]
	path = tests-user/lib/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "tests-user/bats-support"]
	path = tests-user/lib/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests-user/bats-assert"]
	path = tests-user/lib/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "deploy-move-oft-adapter/lib/forge-std"]
	path = deploy-move-oft-adapter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "deploy-move-oft-adapter/lib/openzeppelin-contracts"]
	path = deploy-move-oft-adapter/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
