# Logs
logs
*.log
pnpm-debug.log*
pnpm-error.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Turbo cache
.turbo

# Optional eslint cache
.eslintcache

# Editor and OS files
.DS_Store
.idea

# Build artifacts
dist
*.dbg.json

# Github actions
.netrc

# Cache
.cache

# .env
**/.env
