# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

# pnpm does not by default execute pre & post scripts
# 
# since we kinda want to keep them, we need to enable this option
# see https://pnpm.io/cli/run#differences-with-npm-run for more info
enable-pre-post-scripts=true

# pnpm will by default use the workspace protocol when installing
# local dependencies
# 
# in order not to modify the publishing step just yet, we'll disable this behavior
# 
# TODO reenable this behavior and use solutions provided in the linked PRs
# in this github issue for changesets https://github.com/changesets/changesets/issues/432
# 
# see more here https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=false
prefer-workspace-packages=true
