name: Setup build cache
description: Setup cache for turbo builds & hardhat compilers
runs:
  using: "composite"
  steps:
    # Cache build artifacts from turbo
    #
    # This step will speed up workflow runs that don't touch the whole codebase
    # (or the ones that don't touch the codebase at all)
    - name: Cache turbo build setup
      uses: actions/cache@v4
      with:
        path: node_modules/.cache/turbo
        key: ${{ runner.os }}-${{ runner.arch }}-turbo-${{ github.ref_name }}-${{ github.sha }}
        # The hierarchy of restoring the cache goes as follows:
        #
        # - First we try to match an existing cache from the same branch
        # - Then we try to match a cache from the target branch of this PR (if this is not a PR, this cache will never exist)
        # - Then we try to match a cache from the default branch
        # - Then we try to match any cache
        restore-keys: |
          ${{ runner.os }}-${{ runner.arch }}-turbo-${{ github.ref_name }}-
          ${{ runner.os }}-${{ runner.arch }}-turbo-${{ github.base_ref }}-
          ${{ runner.os }}-${{ runner.arch }}-turbo-${{ github.event.repository.default_branch }}-
          ${{ runner.os }}-${{ runner.arch }}-turbo-

    # Cache hardhat compilers
    #
    # This step will speed up workflow runs that use hardhat compilation
    - name: Cache hardhat compilers
      uses: actions/cache@v4
      with:
        path: .cache/hardhat
        key: ${{ runner.os }}-${{ runner.arch }}-hardhat-${{ github.ref_name }}-${{ github.sha }}
        # The hierarchy of restoring the cache goes as follows:
        #
        # - First we try to match an existing cache from the same branch
        # - Then we try to match a cache from the target branch of this PR (if this is not a PR, this cache will never exist)
        # - Then we try to match a cache from the default branch
        # - Then we try to match any cache
        restore-keys: |
          ${{ runner.os }}-${{ runner.arch }}-hardhat-${{ github.ref_name }}-
          ${{ runner.os }}-${{ runner.arch }}-hardhat-${{ github.base_ref }}-
          ${{ runner.os }}-${{ runner.arch }}-hardhat-${{ github.event.repository.default_branch }}-
          ${{ runner.os }}-${{ runner.arch }}-hardhat-
