.anchor
node_modules
.env
coverage
coverage.json
target
typechain
typechain-types
wallet.json
keypair.json
secret.txt

# Hardhat files
cache
artifacts


# LayerZero specific files
.layerzero

# foundry test compilation files
out

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea
