name: Setup environment
description: Setup node & package manager, checkout code
runs:
  using: "composite"
  steps:
    - name: Enable corepack
      run: corepack enable

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: ".nvmrc"
        cache: "pnpm"

    - name: Setup Foundry
      uses: foundry-rs/foundry-toolchain@v1
