[profile.default]
solc-version = '0.8.27'
src = 'contracts'
script = 'deploy'
out = 'out'
test = 'test/foundry'
cache_path = 'cache/foundry'
libs = [
    # We provide a set of useful contract utilities
    # in the lib directory of @layerzerolabs/toolbox-foundry:
    # 
    # - forge-std
    # - ds-test
    # - solidity-bytes-utils
    'node_modules/@layerzerolabs/toolbox-foundry/lib',
    'node_modules',
]

remappings = [
    # Due to a misconfiguration of solidity-bytes-utils, an outdated version
    # of forge-std is being dragged in
    # 
    # To remedy this, we'll remap the ds-test and forge-std imports to ou own versions
    'ds-test/=node_modules/@layerzerolabs/toolbox-foundry/lib/ds-test',
    'forge-std/=node_modules/@layerzerolabs/toolbox-foundry/lib/forge-std',
    '@layerzerolabs/=node_modules/@layerzerolabs/',
    '@openzeppelin/=node_modules/@openzeppelin/',
    'solidity-bytes-utils/=node_modules/solidity-bytes-utils/',
]

[rpc_endpoints]
amoy = "${POLYGON_AMOY_RPC}"
fuji = "${AVALANCHE_FUJI_URL}"


[etherscan]
amoy = { url = "https://api-amoy.polygonscan.com/api", key = "${POLYGONSCAN_API_KEY}" }
fuji = { url = "https://api.routescan.io/v2/network/testnet/evm/43113/etherscan", key = "verifyContract" }
